# Python cache & artifacts
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE files (PyCharm)
.idea/

# Allure reports
allure-results/
allure-report/

# Environment variables file
.env